!
! .Xresources
!
#include ".Xresources.d/colors/gruvbox"

!
! urxvt -----------------------------------------------------------------------
!
URxvt.iso14755: off
URxvt.iso14755_52: off
URxvt.depth: 32
URxvt.externalBorder: 0
URxvt.internalBorder: 10
URxvt.scrollBar: false
URxvt.cursorBlink: false
URxvt.cursorUnderline: true
URxvt.pointerBlank: false

! Fonts
URxvt.allow_bold: false
URxvt.letterSpace: -1

! Plugins
URxvt.perl-ext-common: matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

!
! Xft -------------------------------------------------------------------------
!
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!
! Cursor ----------------------------------------------------------------------
!
Xcursor.size: 16
