!
! .Xresources
!

URxvt.iso14755: off
URxvt.iso14755_52: off
URxvt.depth: 32
URxvt.externalBorder: 0
URxvt.internalBorder: 20
URxvt.scrollBar: false
URxvt.cursorBlink: false
URxvt.cursorUnderline: true
URxvt.pointerBlank: false

Xft.dpi: 180
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.size: 16


! Fonts ----------------------------------------------------------------------
URxvt.font: xft:Dejavu Sans Mono:size=9
URxvt.allow_bold: false
URxvt.letterSpace: -1


! Plugins --------------------------------------------------------------------

URxvt.perl-ext-common: matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1

! Colors ---------------------------------------------------------------------
! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #b1402d
*color9:  #d75f5f
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
