!
! .Xresources
!
#include ".Xresources.d/colors/gruvbox"

URxvt.iso14755: off
URxvt.iso14755_52: off
URxvt.depth: 32
URxvt.externalBorder: 0
URxvt.internalBorder: 10
URxvt.scrollBar: false
URxvt.cursorBlink: false
URxvt.cursorUnderline: true
URxvt.pointerBlank: false

Xft.dpi: 180
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.size: 16


! Fonts ----------------------------------------------------------------------
URxvt.font: xft:SF Mono:size=9:style=regular
URxvt.allow_bold: false
URxvt.letterSpace: -1


! Plugins --------------------------------------------------------------------

URxvt.perl-ext-common: matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1
