* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: #282a36;
  color: #f8f8f2;
}

#workspaces button {
  color: #6272a4;
}

#workspaces button.focused {
  background: #44475a;
  color: #50fa7b;
}

#clock, #battery, #network, #pulseaudio {
  padding: 0 10px;
  color: #bd93f9;
}
